html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.15;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1148px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}